@tailwind base;
@tailwind components;
@tailwind utilities;

/* Asegurar que el icono nativo de ojo se muestre en navegadores compatibles */
input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-credentials-auto-fill-button {
  display: block !important;
  visibility: visible !important;
  pointer-events: auto !important;
}